
#header {
    background-color:#6666ff;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#ccccff;
    height:300px;
    width:10%;
    float:left;
    padding:5px; 
}
#section {
    width:85%;
    float:left;
    padding:5px;
}
#footer {
    background-color:#6666ff;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
